@import '~@/assets/style/mixins';
@import '~@/assets/style/dimensions';

.navbar :global(.AddonBeam) {
  position: fixed;
  top: 0;
  width: 100%;
  height: $beam-height;
  z-index: 100;
}

.header {
  background-size: cover;
  background-position: center;

  @include width-above-screen-small {
    padding-left: 16 * $grid;
  }
}

.simpleHeader {
  height: $beam-height;
}

.breadcrumbs {
  color: rgba(255, 255, 255, 0.8);
}

.mobileMenu {
  position: fixed;
  display: none;
  top: $beam-height;
  height: calc(100vh - #{$beam-height});
  width: 100%;
  z-index: 100;

  &.mobileMenuVisible {
    display: flex;
  }
}

.settingsOnboardingNotification {
  width: 150 * $grid;
}
