@import '~@/assets/style/mixins';
@import '~@/assets/style/dimensions';

.header {
  display: flex;
  align-items: center;
  height: 18 * $grid;
  padding: 4 * $grid 8 * $grid;
  background-image: url('/static/header-bg.svg');
  background-size: cover;

  @include width-above-screen-small {
    padding-left: 16 * $grid;
  }
}

.mobileMenu {
  position: absolute;
  display: none;
  top: $beam-height;
  height: calc(100vh - #{$beam-height});
  width: 100%;
  z-index: 100;

  &.mobileMenuVisible {
    display: flex;
  }
}
