@import '~@/assets/style/mixins';
@import '~@/assets/style/dimensions';

.header {
  background-image: url('/static/header-bg.svg');
  background-size: cover;

  @include width-above-screen-small {
    padding-left: 16 * $grid;
  }
}

.breadcrumbs {
  color: rgba(255, 255, 255, 0.8);
}

.mobileMenu {
  position: absolute;
  display: none;
  top: $beam-height;
  height: calc(100vh - #{$beam-height});
  width: 100%;
  z-index: 100;

  &.mobileMenuVisible {
    display: flex;
  }
}
