@import '~@/assets/style/colors';
@import '~@/assets/style/times';

:global(.Table__row) {
  .delete {
    opacity: 0;
    transition: opacity $medium-hovertime;
  }

  &:hover .delete {
    opacity: 1;

    &:hover {
      background-color: $red-1;
      cursor: pointer;
    }
  }
}
