@import '~@/assets/style/colors';

.clipboard-button {
  border: none;

  .icon-container:hover {
    background-color: $grape-1;
    cursor: pointer;
  }
}

.public-instal-page-link {
  text-decoration: underline;
}

.shareDisabled {
  border-style: dashed;
}
