@import '~@/assets/style/colors';
@import '~@/assets/style/dimensions';

.sidebar {
  position: sticky;
  top: $grid * 4;
  height: 0;
}

.clipboard-button {
  border: none;

  .icon-container:hover {
    background-color: $grape-1;
    cursor: pointer;
  }
}

.public-instal-page-link {
  text-decoration: underline;
}

.shareDisabled {
  border-style: dashed;
}
