@import '~@/assets/style/colors';
@import '~@/assets/style/dimensions';

.sidebar {
  position: sticky;
  top: calc(#{$grid} * 4 + #{$beam-height});
  height: 0;
}

.clipboard-button {
  border: none;

  .icon-container:hover {
    background-color: $grape-1;
    cursor: pointer;

    svg path {
      fill: $grape-3;
    }
  }
}

.public-instal-page-link {
  text-decoration: underline;
}

.shareDisabled {
  border-style: dashed;
}
