@import '~@/assets/style/mixins';
@import '~@/assets/style/dimensions';

.container {
  max-width: 28rem;
  :global(.Input__container .Button) {
    border: none;
    border-radius: 0;
    width: 8.25rem;
  }
}
