@import '~@/assets/style/dimensions';
@import '~@/assets/style/colors';

.landingTitle {
  display: flex;
  align-items: center;

  .icon {
    margin-right: $grid-size;

    svg {
      display: block;
      fill: $white;
    }
  }

  .title {
    min-width: 0;
    word-wrap: break-word;
    color: $white;
    // TODO: replace with element from UI library
    line-height: 1.5;
    font-size: 34px;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
  }
}
