@import '~@/assets/style/mixins';
@import '~@/assets/style/dimensions';
@import '~@/assets/style/colors';
@import '~@/assets/style/times';

.versionListPageItem {
  @include padding-y($grid);
  border-bottom: 1px solid $gray-2;

  .versionListPageItemInner {
    border-radius: 2 * $grid;
    background-color: white;
    transition: background-color $medium-hovertime;

    .topWrapper {
      display: flex;
      align-items: center;
      padding-top: 4 * $grid;
      padding-bottom: 2 * $grid;
      @include padding-x(4 * $grid);
      text-decoration: none;

      .platformIconWrapper {
        margin-right: $grid;
        margin-bottom: 3px;

        svg {
          color: $grape-5;
          transition: color $medium-hovertime;
        }
      }

      .title {
        transition: color $medium-hovertime;
      }

      .note {
        text-align: right;
        color: $gray-6;
        transition: color $medium-hovertime;
        // TODO: replace with element from UI library
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
      }
    }

    .descriptionWrapper {
      display: flex;
      align-items: center;
      width: 100%;
      border: none;
      padding-top: 2 * $grid;
      padding-bottom: 4 * $grid;
      @include padding-x(4 * $grid);
      text-align: left;
      font-family: inherit;
      background-color: transparent;
      cursor: pointer;

      .description {
        flex-grow: 1;
        color: $grape-5;
        transition: color $medium-hovertime;
        // TODO: replace with element from UI library
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
      }

      &:not(.isOpen) {
        .description {
          @include ellipsis-oneliner;
        }

        .showMore {
          display: none;
        }
      }

      &.isOpen {
        display: block;

        .showLess {
          display: flex;
          align-items: center;
          margin-top: 2 * $grid;

          .text {
            color: $grape-5;
            // TODO: replace with element from UI library
            font-size: 13px;
            line-height: 4 * $grid;
            letter-spacing: normal;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
          }

          .arrow {
            flex-shrink: 0;

            svg {
              display: block;
              @include size(4 * $grid);
              transform: rotate(180deg);
              fill: $grape-5;
            }
          }
        }
      }
    }

    &:hover,
    &:focus {
      background-color: $gray-1;

      .topWrapper {
        .platformIconWrapper {
          svg {
            color: $grape-3;
          }
        }

        .title {
          color: $grape-3;
        }

        .note {
          color: $grape-3;
        }
      }

      .descriptionWrapper {
        .description {
          color: $grape-3;
        }

        &:not(.isOpen) .showMore {
          flex-shrink: 0;
          display: flex;
          align-items: center;
          margin-left: 2 * $grid;

          .text {
            color: $grape-3;
            // TODO: replace with element from UI library
            font-size: 13px;
            line-height: 4 * $grid;
            letter-spacing: normal;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
          }

          .arrow {
            flex-shrink: 0;

            svg {
              display: block;
              @include size(4 * $grid);
              fill: $grape-3;
            }
          }
        }

        &.isOpen {
          .showLess {
            .text {
              color: $grape-3;
            }

            .arrow {
              svg {
                fill: $grape-3;
              }
            }
          }
        }
      }
    }
  }
}
