@import '~@/assets/style/mixins';
@import '~@/assets/style/dimensions';
@import '~@/assets/style/colors';
@import '~@/assets/style/times';

.versionListPageItem {
  @include padding-y($grid-size / 2);
  border-bottom: 1px solid $greyish;

  .versionListPageItemInner {
    border-radius: $grid-size;
    background-color: white;
    transition: background-color $medium-hovertime;

    .topWrapper {
      display: flex;
      align-items: center;
      padding-top: 2 * $grid-size;
      padding-bottom: $grid-size;
      @include padding-x(2 * $grid-size);
      text-decoration: none;

      .platformIcon {
        margin-right: $grid-size;

        svg {
          display: block;
          fill: $grape-5;
          transition: fill $medium-hovertime;
        }
      }

      .title {
        flex-grow: 1;
        color: $grape-5;
        transition: color $medium-hovertime;
        // TODO: replace with element from UI library
        line-height: 1.5;
        letter-spacing: normal;
        font-style: normal;
        font-stretch: normal;
        font-size: 19px;
        font-weight: 500;
      }

      .note {
        color: $warm-grey;
        transition: color $medium-hovertime;
        // TODO: replace with element from UI library
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
      }
    }

    .descriptionWrapper {
      display: flex;
      align-items: center;
      width: 100%;
      border: none;
      padding-top: $grid-size;
      padding-bottom: 2 * $grid-size;
      @include padding-x(2 * $grid-size);
      text-align: left;
      font-family: inherit;
      background-color: transparent;
      cursor: pointer;

      .description {
        flex-grow: 1;
        color: $grape-5;
        transition: color $medium-hovertime;
        // TODO: replace with element from UI library
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
      }

      &:not(.isOpen) {
        .description {
          @include ellipsis-oneliner;
        }

        .showMore {
          display: none;
        }

        &:hover,
        &:focus {
          .showMore {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            margin-left: $grid-size;

            .text {
              color: $grape-3;
              // TODO: replace with element from UI library
              font-size: 13px;
              line-height: 2 * $grid-size;
              letter-spacing: normal;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
            }

            .arrow {
              flex-shrink: 0;

              svg {
                display: block;
                @include size(2 * $grid-size);
                fill: $grape-3;
              }
            }
          }
        }
      }

      &.isOpen {
        display: block;

        .showLess {
          display: flex;
          align-items: center;
          margin-top: $grid-size;

          .text {
            color: $grape-5;
            // TODO: replace with element from UI library
            font-size: 13px;
            line-height: 2 * $grid-size;
            letter-spacing: normal;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
          }

          .arrow {
            flex-shrink: 0;

            svg {
              display: block;
              @include size(2 * $grid-size);
              transform: rotate(180deg);
              fill: $grape-5;
            }
          }
        }
      }
    }

    &:hover,
    &:focus {
      background-color: $gray-1;

      .topWrapper {
        .platformIcon {
          svg {
            fill: $grape-3;
          }
        }

        .title {
          color: $grape-3;
        }

        .note {
          color: $grape-3;
        }
      }

      .descriptionWrapper {
        .description {
          color: $grape-3;
        }

        &.isOpen {
          .showLess {
            .text {
              color: $grape-3;
            }

            .arrow {
              svg {
                fill: $grape-3;
              }
            }
          }
        }
      }
    }
  }
}
