@import '../../assets/style/mixins';
@import '../../assets/style/dimensions';
@import '../../assets/style/colors';

.titleWrapper {
  display: flex;
  align-items: center;
  height: 9 * $grid-size;
  padding: 2 * $grid-size 4 * $grid-size;
  background-image: url(/static/header-bg.svg);
  background-size: cover;

  .icon {
    margin-right: $grid-size;

    svg {
      fill: white;
    }
  }

  .title {
    min-width: 0;
    word-wrap: break-word;
    color: $white;
    // TODO: replace with element from UI library
    line-height: 1.5;
    font-size: 34px;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
  }

  @include width-above-screen-small {
    padding-left: 8 * $grid-size;
  }
}
