@import '~@/assets/style/colors';
@import '~@/assets/style/dimensions';

.container :global(.Checkbox__input:checked + .Checkbox__indicator) {
  border-color: $eggplant;
  background: $grape-4;
}

.sheet {
  svg {
    display: block;
    fill: $grape-4;
  }
}

.provProfileContainer :global(.Checkbox) {
  width: 100%;

  & > :global(.Flex):last-child {
    flex-shrink: 1;
  }
}

.provProfileContainerDisabled :global(.Checkbox) {
  opacity: 0.5;
}

.externalLink :global(.Icon) {
  display: inline-block;
  margin-bottom: -1.5 * $grid;
}
