// https://bitkit.netlify.com/documentation/materials/colors
$white: var(--color-white) !default;
$black: var(--color-black) !default;
$gray-1: var(--color-gray--1) !default;
$gray-2: var(--color-gray--2) !default;
$gray-3: var(--color-gray--3) !default;
$gray-4: var(--color-gray--4) !default;
$gray-5: var(--color-gray--5) !default;
$gray-6: var(--color-gray--6) !default;
$gray-7: var(--color-gray--7) !default;
$gray-8: var(--color-gray--8) !default;
$aqua-1: var(--color-aqua--1) !default;
$aqua-2: var(--color-aqua--2) !default;
$aqua-3: var(--color-aqua--3) !default;
$aqua-4: var(--color-aqua--4) !default;
$aqua-5: var(--color-aqua--5) !default;
$grape-1: var(--color-grape--1) !default;
$grape-2: var(--color-grape--2) !default;
$grape-3: var(--color-grape--3) !default;
$grape-4: var(--color-grape--4) !default;
$grape-5: var(--color-grape--5) !default;
$eggplant: var(--color-eggplant) !default;
$red-1: var(--color-red--1) !default;
$red-2: var(--color-red--2) !default;
$red-3: var(--color-red--3) !default;
$red-4: var(--color-red--4) !default;
$red-5: var(--color-red--5) !default;
$orange-1: var(--color-orange--1) !default;
$orange-2: var(--color-orange--2) !default;
$orange-3: var(--color-orange--3) !default;
$orange-4: var(--color-orange--4) !default;
$orange-5: var(--color-orange--5) !default;
$yellow-1: var(--color-yellow--1) !default;
$yellow-2: var(--color-yellow--2) !default;
$yellow-3: var(--color-yellow--3) !default;
$yellow-4: var(--color-yellow--4) !default;
$yellow-5: var(--color-yellow--5) !default;
$green-1: var(--color-green--1) !default;
$green-2: var(--color-green--2) !default;
$green-3: var(--color-green--3) !default;
$green-4: var(--color-green--4) !default;
$green-5: var(--color-green--5) !default;
$blue-1: var(--color-blue--1) !default;
$blue-2: var(--color-blue--2) !default;
$blue-3: var(--color-blue--3) !default;
$blue-4: var(--color-blue--4) !default;
$blue-5: var(--color-blue--5) !default;
$darkblue-1: var(--color-darkblue--1) !default;
$darkblue-2: var(--color-darkblue--2) !default;
$darkblue-3: var(--color-darkblue--3) !default;
$darkblue-4: var(--color-darkblue--4) !default;
$darkblue-5: var(--color-darkblue--5) !default;
$violet-1: var(--color-violet--1) !default;
$violet-2: var(--color-violet--2) !default;
$violet-3: var(--color-violet--3) !default;
$violet-4: var(--color-violet--4) !default;
$violet-5: var(--color-violet--5) !default;
