$white: #ffffff !default;
$white-two: #f8f8f8 !default;
$white-three: #ececec !default;
$warm-grey: #777777 !default;
$greyish: #acacac !default;
$violet-blue: #760fc3 !default;
$dark-blue-grey: #351d48 !default;
