@import './dimensions';

@mixin font-face($font-family, $font-file-url-without-extension, $font-weight) {
  @font-face {
    font-family: $font-family;
    src: url($font-file-url-without-extension+'.ttf') format('truetype');
    font-weight: $font-weight;
  }
}

@mixin width-above($value) {
  @media (min-width: $value + 1) {
    @content;
  }
}

@mixin width-max($value) {
  @media (max-width: $value) {
    @content;
  }
}

@mixin width-above-screen-medium {
  @include width-above($screen-medium-width) {
    @content;
  }
}

@mixin width-max-screen-medium {
  @include width-max($screen-medium-width) {
    @content;
  }
}

@mixin width-above-screen-small {
  @include width-above($screen-small-width) {
    @content;
  }
}

@mixin width-max-screen-small {
  @include width-max($screen-small-width) {
    @content;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin margin-x($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin margin-y($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin border-x($value) {
  border-left: $value;
  border-right: $value;
}

@mixin border-y($value) {
  border-top: $value;
  border-bottom: $value;
}

@mixin border-x-color($value) {
  border-left-color: $value;
  border-right-color: $value;
}

@mixin border-y-color($value) {
  border-top-color: $value;
  border-bottom-color: $value;
}

@mixin padding-x($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin padding-y($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin border-top-radius($value) {
  border-top-left-radius: $value;
  border-top-right-radius: $value;
}

@mixin border-right-radius($value) {
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin border-bottom-radius($value) {
  border-bottom-left-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin border-left-radius($value) {
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin ellipsis-oneliner {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
