@import '~@/assets/style/mixins';
@import '~@/assets/style/dimensions';

@include font-face("TTNorms", "/static/fonts/ttnorms/35C30F_7_0", 100);
@include font-face("TTNorms", "/static/fonts/ttnorms/35C30F_C_0", 200);
@include font-face("TTNorms", "/static/fonts/ttnorms/35C30F_F_0", 400);
@include font-face("TTNorms", "/static/fonts/ttnorms/35C30F_D_0", 500);
@include font-face("TTNorms", "/static/fonts/ttnorms/35C30F_1_0", 700);
@include font-face("TTNorms", "/static/fonts/ttnorms/35C30F_3_0", 900);

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: $beam-height;
}

:global {
  #__next {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .Button:disabled {
    opacity: 0.5;
  }
}
