@import '~@/assets/style/dimensions';
@import '~@/assets/style/colors';

.footer {
  text-align: center;

  .icon {
    display: block;
    margin-bottom: 2 * $grid;

    svg {
      fill: $grape-5;
    }
  }

  .text {
    color: $grape-5;
    // TODO: replace with element from UI library
    line-height: 4 * $grid;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-size: 10px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
}
