@import '~@/assets/style/mixins';
@import '~@/assets/style/colors';
@import '~@/assets/style/dimensions';

.PlatformSelector {
  :global(.Button) {
    border-radius: $grid * 2;
    &--level-light {
      &,
      &:hover {
        background-color: $grape-5;
        border-color: $grape-5;
      }
    }
  }
}
