@import '~@/assets/style/mixins';
@import '~@/assets/style/colors';

.platform {
  border: 1px solid $eggplant;

  .Base {
    cursor: pointer;

    &:first-child {
      @include border-left-radius(6px);
    }
    &:last-child {
      @include border-right-radius(6px);
    }
    &:not(.selected) {
      &:hover {
        background-color: $grape-1;

        svg {
          color: $grape-3;
        }
      }

      svg {
        color: $eggplant;
      }
    }

    &.selected {
      background-color: $grape-3;

      svg {
        color: $white;
      }
    }
  }
}
