@import '~@/assets/style/mixins';
@import '~@/assets/style/dimensions';
@import '~@/assets/style/colors';

.sectionHeading {
  // TODO: replace with element from UI library
  display: flex;
  justify-content: space-between;
  line-height: 6 * $grid-size;
  $border-width: 2px;
  border-bottom: $border-width solid $gray-2;
  padding-top: $grid-size;
  padding-bottom: $grid-size - $border-width;
  letter-spacing: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 25px;
  font-weight: 700;
  color: $grape-5;
}
