@import '~@/assets/style/dimensions';
@import '~@/assets/style/times';
@import '~@/assets/style/colors';

.breadcrumbs {
  .breadcrumbLinks {
    display: flex;

    .link {
      min-width: 0;
      word-wrap: break-word;
      color: $white;
      text-decoration: none;
      // TODO: replace with element from UI library
      line-height: 1.5;
      letter-spacing: normal;
      font-style: normal;
      font-stretch: normal;
      font-size: 19px;
      font-weight: 500;
      opacity: 0.8;
      transition: opacity $medium-hovertime;

      &:before {
        content: '« ';
        white-space: pre;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }

      &:not(:first-child) {
        margin-left: $grid-size;
      }
    }
  }

  .nameWrapper {
    display: flex;
    align-items: center;

    .iconUrl {
      margin-right: $grid-size;

      svg {
        display: block;
        fill: $white;
      }
    }

    .name {
      min-width: 0;
      word-wrap: break-word;
      color: $white;
      // TODO: replace with element from UI library
      line-height: 1.5;
      letter-spacing: normal;
      font-style: normal;
      font-stretch: normal;
    }
  }
}
